<div class="cruceta">
    <button onclick="mover(-10,10)"><i class="bi bi-arrow-up-left"></i></button>
    <button onclick="mover(0,10)"><i class="bi bi-arrow-up"></i></button>
    <button onclick="mover(10,10)"><i class="bi bi-arrow-up-right"></i></button>

    <button onclick="mover(-10,0)"><i class="bi bi-arrow-left"></i></button>
    <button><i class="bi bi-bolt"></i> 10 </button> <!-- Centro -->
    <button onclick="mover(10,0)"><i class="bi bi-arrow-right"></i></button>

    <button onclick="mover(-10,-10)"><i class="bi bi-arrow-down-left"></i></button>
    <button onclick="mover(0,-10)"><i class="bi bi-arrow-down"></i></button>
    <button onclick="mover(10,-10)"><i class="bi bi-arrow-down-right"></i></button>
</div>

<div class="mt-3" style="display: grid; grid-template-columns: repeat(3, 60px); gap: 5px;">
    <button onclick="enviarComando('G00 Z5')"><i class="bi bi-arrow-up"></i></button>
    <button onclick="enviarComando('M999')"><i class="bi bi-plug"></i></button>
    <button onclick="enviarComando('G00 Z-5')"><i class="bi bi-arrow-down"></i></button>
</div>

<button id="setaParadaEmergencia" class="btn btn-danger mt-2" style="width: 190px; height: 60px;">
    PARADA DE EMERGENCIA
</button>


<script>

    /** Estado de la máquina (parada de emergencia o no). Esta variable es global y 
     * se actualiza desde src/js/main.js en la función actualizarSetaParadaEmergencia()
    */
    if (typeof window.estaParadoPorEmergencia === 'undefined') {
        window.estaParadoPorEmergencia = false;
    }

    function comportamientoSetaParada() {
        seta = document.querySelector('#setaParadaEmergencia');

        seta.addEventListener('click', function () {
            console.log('Botón STOP presionado ' + estaParadoPorEmergencia);

            //estaParadoPorEmergencia = !estaParadoPorEmergencia;
            if (window.estaParadoPorEmergencia) {
                console.log('La máquina ha reanudado la operación.');
                enviarComando('M999');
            } else {
                console.log('La máquina está ahora en estado de parada de emergencia.');
                enviarComando('M112');
            }
        });

    }

    function actualizaSetaParadaEnRecarga() {
        console.log("Actualizando seta de parada de emergencia en recarga de vista /inicio");
        const seta = document.getElementById("setaParadaEmergencia");

        if (window.estaParadoPorEmergencia) {

            seta.classList.remove('btn-danger');
            seta.classList.add('btn-primary');
            seta.textContent = 'REANUDAR';
        } else {
            seta.classList.remove('btn-primary');
            seta.classList.add('btn-danger');
            seta.textContent = 'PARADA DE EMERGENCIA';
        }
    }

    // Cuando se recarga la vista "/inicio" tengo que meterle este evento
    document.addEventListener("/", () => {
        console.log("disparo de evento vista /inicio");

        
        comportamientoSetaParada();
        actualizaSetaParadaEnRecarga();
    });




</script>