<h5 class="fw-bold">Procesar G-code</h5>
<p>Haz clic en el botón para procesar el G-code subido.</p>
<div id="resultado"></div>

<div class="row">
    <div class="col-8">
        <div class="visor" id="visorGcode" style="height: 300px; width: 500px; background-color: chocolate; overflow-y: auto;">
            <!-- Aquí se mostrará el contenido del G-code -->
        </div>
    </div>

    <div class="col-4">

        {{> crucetaMovimiento}}
    </div>

</div>

<div class="row">

    <div class="col-12">
        <div class="d-flex justify-content-end mt-5" style="background-color: black; height: 200px;">
        </div>
    </div>
</div>