<h5 class="fw-bold">Subir G-code</h5>
<form id="uploadForm" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label" for="gcodeFile">Selecciona un archivo G-code para subirlo al servidor.</label>

        <input class="form-control" type="file" id="gcodeFile" name="gcodefile" accept=".gcode,.txt" required>

        <div class="d-flex justify-content-end mt-2">
            <button class="btn btn-sm btn-dark" type="submit">Subir</button>
        </div>
        
    </div>
</form>


<div class="ventana">
    <h5 class="fw-bold">Archivos disponibles</h5>
    
    <div class="list-group listado-scroll" id="listaArchivos">
        <a href="#" class="list-group-item" data-bs-toggle="list">No se han cargado</a>
        <a href="#" class="list-group-item" data-bs-toggle="list">Comete un mojón</a>
    </div>
    
    <div class="d-flex justify-content-end mt-2">
        <button class="btn btn-sm btn-dark mx-2" id="eliminarGcode">Eliminar</button>
        <button class="btn btn-sm btn-dark" onclick="procesarGcode()">Imprimir</button>
    </div>

</div>

{{# procesarArchivos}}