<h5 class="fw-bold">Área de representación</h5>
<div id="resultado"></div>

<div class="row">
    <div class="col-8">
        <div class="visor" id="visorGcode"
            style="position: relative; background-color: chocolate; display: inline-block;">
            <canvas id="canvasTrazado"
                style="background: rgb(225, 252, 245); border: 1px solid black; z-index: 1;"></canvas>
            <canvas id="canvasCabezal"
                style="border: 1px solid rgb(189, 0, 0); position: absolute; top: 0; left: 0; z-index: 2;"></canvas>
                {{# canvasGcode}}
        </div>        
    </div>

    <div class="col-4">
        {{> crucetaMovimiento}}
    </div>

</div>

<div x-data x-init="$store.menu = { posX: 0, posY: 0 }">
    <span x-text="`X: ${$store.menu.posX}`"></span>
    </br>
    <span x-text="`Y: ${$store.menu.posY}`"></span>
</div>

<div class="row">
    <div class="col-12">
        <div id="recuadroMensajes" class="d-flex flex-column mt-5">
            <!-- Aquí se mostrará los mensajes de comandos websocket -->
        </div>
    </div>
</div>


{{# panelCentral}}

{{# actulizadorPosicion}}